<template>
  <v-container>

      <!-- Button -->
    <v-layout row wrap>
      <v-flex xs12 sm6 class="text-xs-center text-sm-right">
        <v-btn large router to="/meetups" class="secondary">Explore Meetup</v-btn>
      </v-flex>
      <v-flex xs12 sm6 class="text-xs-center text-sm-left">
        <v-btn large router to="/meetups/new" class="secondary">Organize Meetup</v-btn>
      </v-flex>
    </v-layout>

    <!-- Carousel -->
    <v-layout row wrap class="mt-2">
      <v-flex xs12>
        <v-carousel>
          <v-carousel-item 
            v-for="item_meetups in meetupImage" 
            :key="item_meetups.id" 
            :src="item_meetups.imageUrl" @click.native="onLoadMeetup(item_meetups.id)">
            <div class="title">{{ item_meetups.title }}</div>
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>

    <v-layout row wrap class="mt-2">
      <v-flex xs12 class="text-xs-center">
        <p>Welcome and Join To Our Awesome Meetup</p>
      </v-flex>
    </v-layout>

  </v-container>
</template>


<script>
export default {
  computed: {
    meetupImage () {
      return this.$store.getters.featureMeetup
    }
  },
  methods: {
    onLoadMeetup (id) {
      this.$router.push('/meetups/' + id)
    }
  }
}
</script>

<style scoped>
  .title{
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-size: 2em;
    padding: 30px;
  }
</style>


