<template>
  <v-app>
    <!-- Navigation Drawer -->
    <v-navigation-drawer temporary fixed v-model="sideToogleNavigator">
      <v-list>
        <v-list-tile v-for="top_items in topItemMenuNavigator" :key="top_items.title" :to="top_items.link">
          <v-list-tile-action>
            <v-icon>{{ top_items.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>{{ top_items.title }}</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <!-- Toolbar Navigator -->
    <v-toolbar dark class="secondary">
      <v-toolbar-side-icon @click.stop="sideToogleNavigator = !sideToogleNavigator" class="hidden-sm-and-up"></v-toolbar-side-icon>

      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">App Meetup</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat class="white--text" v-for="top_items in topItemMenuNavigator" :key="top_items.title" :to="top_items.link">
          <v-icon left>{{ top_items.icon }}</v-icon> {{  top_items.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- Content -->
    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      sideToogleNavigator: false,
      topItemMenuNavigator: [
        {
          icon: 'supervisor_account',
          title: 'View Meetup',
          link: '/meetups'
        },
        {
          icon: 'room',
          title: 'Organize Meetup',
          link: '/meetups/new'
        },
        {
          icon: 'person',
          title: 'Profile',
          link: '/user/profile'
        },
        {
          icon: 'face',
          title: 'Sign up',
          link: '/user/sign_up'
        },
        {
          icon: 'lock_open',
          title: 'Sign in',
          link: '/user/sign_in'
        }
      ]
    }
  },
  name: 'App'
}
</script>
