<template>
  <v-container>

    <v-layout row wrap v-for="item_meetup in meetupImage" :key="item_meetup.id" class="mb-2">
    
      <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
    
        <v-card class="info" >
          <v-container fluid>
            <v-layout row>

              <v-flex xs5>
                <v-card-media height="130px" :src="item_meetup.imageUrl"></v-card-media>
              </v-flex>

              <v-flex xs7 sm8 md9>
                <v-card-title primary-title>
                  <div>
                    <h3 class="white--text mb-0">{{ item_meetup.title }}</h3>
                    <div>{{ item_meetup.date }}</div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat :to="'/meetups/' + item_meetup.id">
                    <v-icon left light>arrow_forward</v-icon> View Meetup 
                  </v-btn>
                </v-card-actions>
              </v-flex>
            
            </v-layout>
          </v-container>
        </v-card>
    
      </v-flex>
    
    </v-layout>
  
  </v-container>
</template>

<script>
export default {
  computed: {
    meetupImage () {
      return this.$store.getters.loadingAllMeetup
    }
  }
}
</script>
