<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h3 class="primary--text headline">{{ meetupImage.title }}</h3>
          </v-card-title>
          <v-card-media height="400px" :src="meetupImage.imageUrl">
          </v-card-media>
          <v-card-text>
            <div class="info--text">
              {{ meetupImage.date }} - Where it takes place
            </div>
            <div>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit quisquam nobis odit id quaerat assumenda quos, dolores eaque, soluta natus nostrum, excepturi suscipit corporis qui nesciunt. Quia, expedita nemo.
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="secondary">Register</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    meetupImage () {
      return this.$store.getters.loadingSingleMeetup(this.id)
    }
  }
}
</script>
